.panel2{
    -fx-background-color: #0f0f0f;
}

.load_image_button{
    -fx-background-color: #03A9F4;
    -fx-background-radius: 200px;
    -fx-text-fill: #ffffff;
}

.meta_data_result{
    -fx-background-color: #03A9F4;
    -fx-text-fill: #ffffff;
}


.default-color0.chart-pie { -fx-pie-color: #d50000; }
.default-color1.chart-pie { -fx-pie-color: #64DD17; }


.chart-title {
  -fx-text-fill: #ffffff;
  -fx-font-size: 1.6em;
}

.chart-content {
    -fx-padding: 30px; 
    -fx-text-fill: #ffffff;
}